<<<<<<< HEAD
<h1 class="text-center mt-4">Log in</h1>

<%= form_for(:session,html:{role:"form"},url:login_path) do |f| %>
=======
<h1 class="text-center mt-4">log in </h1>

<%= form_with(model: @customer, local: true) do |f| %>
>>>>>>> d64b00f01f609a8f5b718812ae547a9182ba0561

  <p class="text-center mt-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email %>
  </p>

    <p class="text-center mt-4">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>


  <p class="text-center mt-4">
<<<<<<< HEAD
    <%= f.submit"Log in" %>
  </p>
  <% end %>
=======
    <%= f.submit "Log in" %>
  </p>

<% end %>
>>>>>>> d64b00f01f609a8f5b718812ae547a9182ba0561
