
<h1 class="text-center mt-4">Log in</h1>

<%= form_for(:session,html:{role:"form"},url:login_path) do |f| %>

  <p class="text-center mt-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email %>
  </p>

    <p class="text-center mt-4">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>


  <p class="text-center mt-4">
     <%= f.submit "Log in" %>
  </p>

<% end %>

