<h1 class="text-center mt-4">Alpha Bloggers</h1>

<div class="container">
  <% @customers.each do |customer| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= link_to customer.username, customer %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
<<<<<<< HEAD
=======
              <%= link_to gravatar_for(customer, size: 150), customer %>
>>>>>>> d64b00f01f609a8f5b718812ae547a9182ba0561
            </h5>
            <p class="card-text"><%= pluralize(customer.chintus.count, "article") %></p>
            <%= link_to "View profile", customer, class: "btn btn-outline-success" %>
            <%= link_to "Edit profile", edit_customer_path(customer), class: "btn btn-outline-info" %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(customer.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
